<h1>Retired People and “Retired Places”: Italy, Data Preparation<span class="tocSkip"></span></h1>
<div class="toc">
  <ul class="toc-item">
    <li>
      <span>
        <a href="#Project-description-and-data-sources" data-toc-modified-id="Project-description-and-data-sources-1">
          <span class="toc-item-num">1&nbsp;&nbsp;</span>Project description and data sources
        </a>
      </span>
    </li>
    <li>
      <span>
        <a href="#Loading-raw-tables" data-toc-modified-id="Loading-raw-tables-2">
          <span class="toc-item-num">2&nbsp;&nbsp;</span>Loading raw tables
        </a>
      </span>
    </li>
    <li>
      <span>
        <a href="#Cleaning-and-harmonising-municipality-codes" data-toc-modified-id="Cleaning-and-harmonising-municipality-codes-3">
          <span class="toc-item-num">3&nbsp;&nbsp;</span>Cleaning and harmonising municipality codes
        </a>
      </span>
    </li>
    <li>
      <span>
        <a href="#Computing-demographic-and-housing-indicators" data-toc-modified-id="Computing-demographic-and-housing-indicators-4">
          <span class="toc-item-num">4&nbsp;&nbsp;</span>Computing demographic and housing indicators
        </a>
      </span>
    </li>
    <li>
      <span>
        <a href="#Building-the-2x2-categories" data-toc-modified-id="Building-the-2x2-categories-5">
          <span class="toc-item-num">5&nbsp;&nbsp;</span>Building the 2×2 categories
        </a>
      </span>
    </li>
    <li>
      <span>
        <a href="#Merging-with-geometries-and-saving-outputs" data-toc-modified-id="Merging-with-geometries-and-saving-outputs-6">
          <span class="toc-item-num">6&nbsp;&nbsp;</span>Merging with geometries and saving outputs
        </a>
      </span>
    </li>
  </ul>
</div>

## Loading-raw-tables <a id="Loading-raw-tables"></a>

In [2]:
import pandas as pd
import geopandas as gpd
from pathlib import Path


print('Libraries are downloaded')

Libraries are downloaded

In [4]:
PROJECT_ROOT = Path("..").resolve().parent
RAW = PROJECT_ROOT / "data" / "raw"

RAW

PosixPath('/Users/eugenia/Desktop/Open Access/project/retired_places/data/raw')

In [ ]:
pop_reg_it = pd.read_csv(
    RAW / "popolazione_2025_it_regioni.csv",  
    sep=";",        
    skiprows=1,    
    encoding="utf-8"
)
display(pop_reg_it.head())
pop_reg_it.info()

  Codice regione  Regione  Età  Totale maschi  Totale femmine  Totale
0             13  Abruzzo  0.0         3842.0          3577.0  7419.0
1             13  Abruzzo  1.0         4010.0          3653.0  7663.0
2             13  Abruzzo  2.0         4260.0          3873.0  8133.0
3             13  Abruzzo  3.0         4298.0          4163.0  8461.0
4             13  Abruzzo  4.0         4456.0          4163.0  8619.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2041 entries, 0 to 2040
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Codice regione  2041 non-null   object
 1   Regione         2040 non-null   object
 2   Età             2040 non-null   float64
 3   Totale maschi   2040 non-null   float64
 4   Totale femmine  2040 non-null   float64
 5   Totale          2040 non-null   float64
dtypes: float64(4), object(2)
memory usage: 95.8+ KB

In [ ]:
homes_it = pd.read_excel(
    RAW / "abitazioni_occupate_non_occupate_comuni.xlsx",  
    sheet_name=0  
)

display(homes_it.head(20))
homes_it.info()

,Abitazioni occupate e non occupate - comuni,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Frequenza: Annuale,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Anno,2021,2021,2021
3,Indicatore,Abitazioni occupate al 31 dicembre,Abitazioni non occupate al 31 dicembre,Abitazioni al 31 dicembre
4,Nota - Anno,,,
5,Anno base,,,
6,Unità di misura,,,
7,Unità di moltiplicazione,,,
8,Territorio,,,
9,Italia,25690057,9581772,35271829
10,Nord-ovest,7185774,2519765,9705539
11,Piemonte,1964108,827768,2791876
12,Torino,1032087,313782,1345869
13,Agliè,1177,578,1755
14,Airasca,1546,244,1790
15,Ala di Stura,257,1405,1662
16,Albiano d'Ivrea,753,302,1055
17,Almese,2896,889,3785
18,Alpette,143,713,856
19,Alpignano,7369,812,8181

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8048 entries, 0 to 8047
Data columns (total 4 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Abitazioni occupate e non occupate - comuni    8047 non-null   object
 1   Unnamed: 1                                     8046 non-null   object
 2   Unnamed: 2                                     8046 non-null   object
 3   Unnamed: 3                                     8046 non-null   object
dtypes: object(4)
memory usage: 251.6+ KB