<h1>Retired People and “Retired Places”: Key Statistics<span class="tocSkip"></span></h1>

In [1]:
import pandas as pd
from pathlib import Path
import geopandas as gpd

print('Libraries are downloaded')

Libraries are downloaded

In [2]:
PROJECT_ROOT = Path("..").resolve().parent

PROCESSED = PROJECT_ROOT / "data" / "processed"

In [8]:
df_total_pop = pd.read_csv(PROCESSED / "MD2_share_65_plus.csv")
df_total_pop.head()

,region_code,region,pop_65plus,tot_pop,share_65plus
0,1,Piemonte,1142793.0,4255702.0,26.853220
1,2,Valle d'Aosta/Vallée d'Aoste,31686.0,122714.0,25.821015
2,3,Lombardia,2394067.0,10035481.0,23.856026
3,4,Trentino-Alto Adige/Südtirol,244707.0,1086095.0,22.530902
4,5,Veneto,1208173.0,4851851.0,24.901280

In [11]:
df = pd.read_csv(PROCESSED / "MD5_age_houses_occupation.csv")
df.head()

,region_code,region,pop_65plus,tot_pop,share_65plus,homes_occupied,homes_unoccupied,homes_total,region_norm,share_unoccupied,macro_region,high_65,high_vac,category_2x2,rank_65,rank_vac,rank_diff
0,1,Piemonte,1142793.0,4255702.0,26.853220,1964108,827768,2791876,Piemonte,29.649168,North,True,False,Old & Lived-in,15.0,10.0,-5.0
1,2,Valle d'Aosta/Vallée d'Aoste,31686.0,122714.0,25.821015,59616,75948,135564,Valle d'Aosta/Vallée d'Aoste,56.023723,North,False,True,Younger but Emptying,10.0,20.0,10.0
2,3,Lombardia,2394067.0,10035481.0,23.856026,4415364,1184728,5600092,Lombardia,21.155510,North,False,False,Younger & Lived-in,5.0,2.0,-3.0
3,4,Trentino-Alto Adige/Südtirol,244707.0,1086095.0,22.530902,463305,219888,683193,Trentino Alto Adige/Südtirol,32.185341,North,False,True,Younger but Emptying,2.0,13.0,11.0
4,5,Veneto,1208173.0,4851851.0,24.901280,2076568,584378,2660946,Veneto,21.961287,North,False,False,Younger & Lived-in,8.0,4.0,-4.0

In [13]:
df_disp = pd.read_csv(PROCESSED / "MD4_dispertion_places.csv")
df_disp.head()

,region_code,region,tot_pop,settlements_count,dispersed_index,share_65plus,share_unoccupied,macro_region
0,1,Piemonte,4255702.0,9220,2.166505,26.853220,29.649168,North
1,2,Valle d'Aosta/Vallée d'Aoste,122714.0,2901,23.640334,25.821015,56.023723,North
2,3,Lombardia,10035481.0,8531,0.850084,23.856026,21.155510,North
3,4,Trentino-Alto Adige/Südtirol,1086095.0,2625,2.416916,22.530902,32.185341,North
4,5,Veneto,4851851.0,5888,1.213557,24.901280,21.961287,North

In [ ]:
total_65plus = df_total_pop["pop_65plus"].sum()
total_pop    = df_total_pop["tot_pop"].sum()

italy_share_65plus = total_65plus / total_pop * 100

print(f"Share of residents aged 65+ in Italy (2025): {italy_share_65plus:.2f}%")

Share of residents aged 65+ in Italy (2025): 24.73%

In [ ]:
# K — number Old & Empty regions
mask_old_empty = (df["high_65"] == 1) & (df["high_vac"] == 1)
K = df[mask_old_empty].shape[0]

N = df.shape[0]

print("K =", K)
print(f"Tile title: {K} / {N}")

K = 5
Tile title: 5 / 20

In [14]:
idx_max = df_disp["dispersed_index"].idxmax()
most_dispered_row = df_disp.loc[idx_max]

most_dispered_region = most_dispered_row["region"]  
most_dispered_value = most_dispered_row["dispersed_index"]

print("Most dispersed region:", most_dispered_region)
print("Dispersed Settlements Index:", most_dispered_value)

Most dispersed region: Valle d'Aosta/Vallée d'Aoste
Dispersed Settlements Index: 23.640334436168654

In [15]:
mean_disp = df_disp["dispersed_index"].mean()
ratio = most_dispered_value / mean_disp

print(f"National average index: {mean_disp:.2f}")
print(f"Top region vs average: {ratio:.2f}×")

National average index: 2.37
Top region vs average: 9.99×